.popper{background-color:#000;color:#fff;border:1px #fff solid;box-shadow:none}.popper[x-placement^=top] .popper__arrow{border-color:#fff}.popper[x-placement^=bottom] .popper__arrow{border-color:#fff}.popper[x-placement^=right] .popper__arrow{border-color:#fff}.popper[x-placement^=left] .popper__arrow{border-color:#fff}
  .tooltip .tooltip-inner {
    background: black;
    color: white; }
  .tooltip .tooltip-arrow {
    border-color: black; }
    .tooltip[x-placement^="top"] .tooltip-arrow {
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important; }
    .tooltip[x-placement^="bottom"] .tooltip-arrow {
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important; }
    .tooltip[x-placement^="right"] .tooltip-arrow {
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important; }
    .tooltip[x-placement^="left"] .tooltip-arrow {
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important; }
  .tooltip.popover .popover-inner {
    background: #000;
    color: black;
    box-shadow: none; }
  .tooltip.popover .popover-arrow {
    border-color: #fff; }

/*!
 * Bootstrap v3.4.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

body {
  background-color:#000; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none; }

h1 {
  color:#fff; }

mark {
  background: #000;
  color: #fff; }

img {
  border: 0;
  filter:invert(100%);
  }

  #how-it-works img{
    filter: none;
  }

button,
input,
optgroup,
select,
textarea {
  color: inherit; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0; }

fieldset {
  border: 1px solid #fff; }

legend {
  border: 0; }

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
  *,
  *:before,
  *:after {
    color: #fff !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important; }
  pre,
  blockquote {
    border: 1px solid #fff; }

  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #fff !important; }
  .label {
    border: 1px solid #fff; }
  .table td,
  .table th {
    background-color: #000 !important; }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #fff !important; } }

@font-face { }

body {
  color: #fff;
  background-color: #000; }

a {
  color: #fcff3c; }

a:hover,
a:focus {
  color: #fff; }

.img-thumbnail {
  background-color: #000;
  border: 1px solid #fff; }

hr {
  border: 0;
  border-top: 1px solid #fff; }

.sr-only {
  border: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: inherit; }

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  color: #fff; }

p {
  color:#fff; }

@media (min-width: 768px) { }

mark,
.mark {
  background-color: #000; }

.text-muted {
  color: #fff; }

.text-primary {
  color: #fff; }

a.text-primary:hover,
a.text-primary:focus {
  color: #fff; }

.text-success {
  color: #fff; }

a.text-success:hover,
a.text-success:focus {
  color: #fff; }

.text-info {
  color: #fff; }

a.text-info:hover,
a.text-info:focus {
  color: #fff; }

.text-warning {
  color: #fff; }

a.text-warning:hover,
a.text-warning:focus {
  color: #fff; }

.text-danger {
  color: #fff; }

a.text-danger:hover,
a.text-danger:focus {
  color: #fff; }

.bg-primary {
  color: #fff;
  background-color: #000; }

a.bg-primary:hover,
a.bg-primary:focus {
  background-color: #000; }

.bg-success {
  background-color: #000; }

a.bg-success:hover,
a.bg-success:focus {
  background-color: #000; }

.bg-info {
  background-color: #000; }

a.bg-info:hover,
a.bg-info:focus {
  background-color: #000; }

.bg-warning {
  background-color: #000; }

a.bg-warning:hover,
a.bg-warning:focus {
  background-color: #000; }

.bg-danger {
  background-color: #000; }

a.bg-danger:hover,
a.bg-danger:focus {
  background-color: #000; }

.page-header {
  border-bottom: 1px solid #fff; }

@media (min-width: 768px) { }

blockquote {
  border-left: 5px solid #fff; }

blockquote footer,
blockquote small,
blockquote .small {
  color: #fff; }

.blockquote-reverse,
blockquote.pull-right {
  border-right: 5px solid #fff;
  border-left: 0; }

code {
  color: #fff;
  background-color: #000; }

kbd {
  color: #fff;
  background-color: #000;
  box-shadow: none; }

kbd kbd {
  box-shadow: none; }

pre {
  color: #fff;
  background-color: #000;
  border: 1px solid #fff; }

pre code {
  color: inherit;
  background-color: transparent; }

@media (min-width: 768px) { }

@media (min-width: 992px) { }

@media (min-width: 1200px) { }

@media (min-width: 768px) { }

@media (min-width: 992px) { }

@media (min-width: 1200px) { }

table {
  background-color: transparent; }

caption {
  color: #fff; }

th {
  color:#fff; }

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #fff; }

.table > thead > tr > th {
  border-bottom: 2px solid #fff; }

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0; }

.table > tbody + tbody {
  border-top: 2px solid #fff; }

.table .table {
  background-color: #000; }

.table-bordered {
  border: 1px solid #fff; }

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #fff; }

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #000; }

.table-hover > tbody > tr:hover {
  background-color: #000; }

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #000; }

.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #000; }

.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #000; }

.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #000; }

.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #000; }

.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #000; }

.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #000; }

.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #000; }

.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #000; }

.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #000; }

@media screen and (max-width: 767px) {
  .table-responsive {
    border: 1px solid #fff; }
  .table-responsive > .table-bordered {
    border: 0; }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0; }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0; }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0; } }

fieldset {
  border: 0; }

legend {
  color: #fff;
  border: 0;
  border-bottom: 1px solid #fff; }

output {
  color: #fff; }

.form-control {
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  box-shadow: none; }

.form-control:focus {
  border-color: #fff;
  box-shadow: none; }

.form-control::-moz-placeholder {
  color: #fff; }

.form-control:-ms-input-placeholder {
  color: #fff; }

.form-control::-webkit-input-placeholder {
  color: #fff; }

.form-control::-ms-expand {
  background-color: transparent;
  border: 0; }

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #000; }

@media screen and (-webkit-min-device-pixel-ratio: 0) { }

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
  color: #fff; }

.has-success .form-control {
  border-color: #fff;
  box-shadow: none; }

.has-success .form-control:focus {
  border-color: #fff;
  box-shadow: none; }

.has-success .input-group-addon {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.has-success .form-control-feedback {
  color: #fff; }

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
  color: #fff; }

.has-warning .form-control {
  border-color: #fff;
  box-shadow: none; }

.has-warning .form-control:focus {
  border-color: #fff;
  box-shadow: none; }

.has-warning .input-group-addon {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.has-warning .form-control-feedback {
  color: #fff; }

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #fff; }

.has-error .form-control {
  border-color: #fff;
  box-shadow: none; }

.has-error .form-control:focus {
  border-color: #fff;
  box-shadow: none; }

.has-error .input-group-addon {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.has-error .form-control-feedback {
  color: #fff; }

.help-block {
  color: #fff; }

@media (min-width: 768px) { }

@media (min-width: 768px) { }

@media (min-width: 768px) { }

@media (min-width: 768px) { }

.btn {
  border: 1px solid transparent; }

.btn:hover,
.btn:focus,
.btn.focus {
  color: #fff; }

.btn:active,
.btn.active {
  box-shadow: none; }

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  filter: alpha(opacity=65);
  box-shadow: none; }

.btn-default {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.btn-default:focus,
.btn-default.focus {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.btn-default:hover {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #000;
  border-color: #fff; }

.btn-default .badge {
  color: #fff;
  background-color: #000; }

.btn-primary {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.btn-primary:hover {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #000;
  border-color: #fff; }

.btn-primary .badge {
  color: #fff;
  background-color: #000; }

.btn-success {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.btn-success:hover {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
  background-color: #000;
  border-color: #fff; }

.btn-success .badge {
  color: #fff;
  background-color: #000; }

.btn-info {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.btn-info:focus,
.btn-info.focus {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.btn-info:hover {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus {
  background-color: #000;
  border-color: #fff; }

.btn-info .badge {
  color: #fff;
  background-color: #000; }

.btn-warning {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.btn-warning:focus,
.btn-warning.focus {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.btn-warning:hover {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus {
  background-color: #000;
  border-color: #fff; }

.btn-warning .badge {
  color: #fff;
  background-color: #000; }

.btn-danger {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.btn-danger:focus,
.btn-danger.focus {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.btn-danger:hover {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus {
  background-color: #000;
  border-color: #fff; }

.btn-danger .badge {
  color: #fff;
  background-color: #000; }

.btn-link {
  color: #fff; }

.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  box-shadow: none; }

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent; }

.btn-link:hover,
.btn-link:focus {
  color: #fff;
  background-color: transparent; }

.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #fff; }

.caret {
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.dropdown-menu {
  background-color: #000;
  border: 1px solid #fff;
  border: 1px solid #fff;
  box-shadow: none; }

.dropdown-menu .divider {
  background-color: #000; }

.dropdown-menu > li > a {
  color: #fff; }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #000; }

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  background-color: #000; }

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #fff; }

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  background-color: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }

.dropdown-header {
  color: #fff; }

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9; }

@media (min-width: 768px) { }

.btn-group.open .dropdown-toggle {
  box-shadow: none; }

.btn-group.open .dropdown-toggle.btn-link {
  box-shadow: none; }

.input-group-addon {
  color: #fff;
  background-color: #000;
  border: 1px solid #fff; }

.input-group-addon:first-child {
  border-right: 0; }

.input-group-addon:last-child {
  border-left: 0; }

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #000; }

.nav > li.disabled > a {
  color: #fff; }

.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #fff;
  background-color: transparent; }

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #000;
  border-color: #fff; }

.nav .nav-divider {
  background-color: #000; }

.nav-tabs {
  border-bottom: 1px solid #fff; }

.nav-tabs > li > a {
  border: 1px solid transparent; }

.nav-tabs > li > a:hover {
  border-color: #fff; }

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  border-bottom-color: transparent; }

.nav-tabs.nav-justified {
  border-bottom: 0; }

@media (min-width: 768px) { }

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #fff; }

@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #fff; }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff; } }

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #000; }

@media (min-width: 768px) { }

.nav-tabs-justified {
  border-bottom: 0; }

.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
  border: 1px solid #fff; }

@media (min-width: 768px) {
  .nav-tabs-justified > li > a {
    border-bottom: 1px solid #fff; }
  .nav-tabs-justified > .active > a,
  .nav-tabs-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #fff; } }

.navbar {
  border: 1px solid transparent; }

@media (min-width: 768px) { }

@media (min-width: 768px) { }

.navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: none; }

@media (min-width: 768px) {
  .navbar-collapse {
    border-top: 0;
    box-shadow: none; } }

@media (max-device-width: 480px) and (orientation: landscape) { }

@media (min-width: 768px) { }

@media (min-width: 768px) { }

@media (min-width: 768px) { }

@media (min-width: 768px) { }

.navbar-toggle {
  background-color: transparent;
  border: 1px solid transparent; }

@media (min-width: 768px) { }

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    background-color: transparent;
    border: 0;
    box-shadow: none; } }

@media (min-width: 768px) { }

.navbar-form {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-shadow: none; }

@media (min-width: 768px) { }

@media (max-width: 767px) { }

@media (min-width: 768px) {
  .navbar-form {
    border: 0;
    box-shadow: none; } }

@media (min-width: 768px) { }

@media (min-width: 768px) { }

.navbar-default {
  background-color: #000;
  border-color: #fff; }

.navbar-default .navbar-brand {
  color: #fff; }

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
  background-color: transparent; }

.navbar-default .navbar-text {
  color: #fff; }

.navbar-default .navbar-nav > li > a {
  color: #fff; }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #000; }

.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #fff;
  background-color: transparent; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #000; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff; }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #000; }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #fff;
    background-color: transparent; } }

.navbar-default .navbar-toggle {
  border-color: #fff; }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #000; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #000; }

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fff; }

.navbar-default .navbar-link {
  color: #fff; }

.navbar-default .navbar-link:hover {
  color: #fff; }

.navbar-default .btn-link {
  color: #fff; }

.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #fff; }

.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #fff; }

.navbar-inverse {
  background-color: #000;
  border-color: #fff; }

.navbar-inverse .navbar-brand {
  color: #fff; }

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #fff;
  background-color: transparent; }

.navbar-inverse .navbar-text {
  color: #fff; }

.navbar-inverse .navbar-nav > li > a {
  color: #fff; }

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent; }

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #000; }

.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #fff;
  background-color: transparent; }

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #000; }

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #fff; }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #000; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #fff; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #000; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #fff;
    background-color: transparent; } }

.navbar-inverse .navbar-toggle {
  border-color: #fff; }

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #000; }

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #000; }

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #fff; }

.navbar-inverse .navbar-link {
  color: #fff; }

.navbar-inverse .navbar-link:hover {
  color: #fff; }

.navbar-inverse .btn-link {
  color: #fff; }

.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
  color: #fff; }

.navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
  color: #fff; }

.breadcrumb {
  background-color: #000; }

.breadcrumb > li + li:before {
  color: #fff; }

.breadcrumb > .active {
  color: #fff; }

.pagination > li > a,
.pagination > li > span {
  color: #fff;
  background-color: #000;
  border: 1px solid #fff; }

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.pager li > a,
.pager li > span {
  background-color: #000;
  border: 1px solid #fff; }

.pager li > a:hover,
.pager li > a:focus {
  background-color: #000; }

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #fff;
  background-color: #000; }

.label {
  color: #fff; }

a.label:hover,
a.label:focus {
  color: #fff; }

.label-default {
  background-color: #000; }

.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #000; }

.label-primary {
  background-color: #000; }

.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #000; }

.label-success {
  background-color: #000; }

.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #000; }

.label-info {
  background-color: #000; }

.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #000; }

.label-warning {
  background-color: #000; }

.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #000; }

.label-danger {
  background-color: #000; }

.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #000; }

.badge {
  color: #fff;
  background-color: #000; }

a.badge:hover,
a.badge:focus {
  color: #fff; }

.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #fff;
  background-color: #000; }

.jumbotron {
  color: inherit;
  background-color: #000; }

.jumbotron h1,
.jumbotron .h1 {
  color: inherit; }

.jumbotron > hr {
  border-top-color: #fff; }

@media screen and (min-width: 768px) { }

.thumbnail {
  background-color: #000;
  border: 1px solid #fff; }

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #fff; }

.thumbnail .caption {
  color: #fff; }

.alert {
  border: 1px solid transparent; }

.alert h4 {
  color: inherit; }

.alert-dismissable .close,
.alert-dismissible .close {
  color: inherit; }

.alert-success {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.alert-success hr {
  border-top-color: #fff; }

.alert-success .alert-link {
  color: #fff; }

.alert-info {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.alert-info hr {
  border-top-color: #fff; }

.alert-info .alert-link {
  color: #fff; }

.alert-warning {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.alert-warning hr {
  border-top-color: #fff; }

.alert-warning .alert-link {
  color: #fff; }

.alert-danger {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.alert-danger hr {
  border-top-color: #fff; }

.alert-danger .alert-link {
  color: #fff; }

@-webkit-keyframes progress-bar-stripes { }

@-o-keyframes progress-bar-stripes { }

@keyframes progress-bar-stripes { }

.progress {
  background-color: #000;
  box-shadow: none; }

.progress-bar {
  color: #fff;
  background-color: #000;
  box-shadow: none; }

.progress-bar-success {
  background-color: #000; }

.progress-bar-info {
  background-color: #000; }

.progress-bar-warning {
  background-color: #000; }

.progress-bar-danger {
  background-color: #000; }

.list-group-item {
  background-color: #000;
  border: 1px solid #fff; }

.list-group-item.disabled,
.list-group-item.disabled:hover,
.list-group-item.disabled:focus {
  color: #fff;
  background-color: #000; }

.list-group-item.disabled .list-group-item-heading,
.list-group-item.disabled:hover .list-group-item-heading,
.list-group-item.disabled:focus .list-group-item-heading {
  color: inherit; }

.list-group-item.disabled .list-group-item-text,
.list-group-item.disabled:hover .list-group-item-text,
.list-group-item.disabled:focus .list-group-item-text {
  color: #fff; }

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.list-group-item.active .list-group-item-heading,
.list-group-item.active:hover .list-group-item-heading,
.list-group-item.active:focus .list-group-item-heading,
.list-group-item.active .list-group-item-heading > small,
.list-group-item.active:hover .list-group-item-heading > small,
.list-group-item.active:focus .list-group-item-heading > small,
.list-group-item.active .list-group-item-heading > .small,
.list-group-item.active:hover .list-group-item-heading > .small,
.list-group-item.active:focus .list-group-item-heading > .small {
  color: inherit; }

.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
  color: #fff; }

a.list-group-item,
button.list-group-item {
  color: #fff; }

a.list-group-item .list-group-item-heading,
button.list-group-item .list-group-item-heading {
  color: #fff; }

a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
  color: #fff;
  background-color: #000; }

.list-group-item-success {
  color: #fff;
  background-color: #000; }

a.list-group-item-success,
button.list-group-item-success {
  color: #fff; }

a.list-group-item-success .list-group-item-heading,
button.list-group-item-success .list-group-item-heading {
  color: inherit; }

a.list-group-item-success:hover,
button.list-group-item-success:hover,
a.list-group-item-success:focus,
button.list-group-item-success:focus {
  color: #fff;
  background-color: #000; }

a.list-group-item-success.active,
button.list-group-item-success.active,
a.list-group-item-success.active:hover,
button.list-group-item-success.active:hover,
a.list-group-item-success.active:focus,
button.list-group-item-success.active:focus {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.list-group-item-info {
  color: #fff;
  background-color: #000; }

a.list-group-item-info,
button.list-group-item-info {
  color: #fff; }

a.list-group-item-info .list-group-item-heading,
button.list-group-item-info .list-group-item-heading {
  color: inherit; }

a.list-group-item-info:hover,
button.list-group-item-info:hover,
a.list-group-item-info:focus,
button.list-group-item-info:focus {
  color: #fff;
  background-color: #000; }

a.list-group-item-info.active,
button.list-group-item-info.active,
a.list-group-item-info.active:hover,
button.list-group-item-info.active:hover,
a.list-group-item-info.active:focus,
button.list-group-item-info.active:focus {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.list-group-item-warning {
  color: #fff;
  background-color: #000; }

a.list-group-item-warning,
button.list-group-item-warning {
  color: #fff; }

a.list-group-item-warning .list-group-item-heading,
button.list-group-item-warning .list-group-item-heading {
  color: inherit; }

a.list-group-item-warning:hover,
button.list-group-item-warning:hover,
a.list-group-item-warning:focus,
button.list-group-item-warning:focus {
  color: #fff;
  background-color: #000; }

a.list-group-item-warning.active,
button.list-group-item-warning.active,
a.list-group-item-warning.active:hover,
button.list-group-item-warning.active:hover,
a.list-group-item-warning.active:focus,
button.list-group-item-warning.active:focus {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.list-group-item-danger {
  color: #fff;
  background-color: #000; }

a.list-group-item-danger,
button.list-group-item-danger {
  color: #fff; }

a.list-group-item-danger .list-group-item-heading,
button.list-group-item-danger .list-group-item-heading {
  color: inherit; }

a.list-group-item-danger:hover,
button.list-group-item-danger:hover,
a.list-group-item-danger:focus,
button.list-group-item-danger:focus {
  color: #fff;
  background-color: #000; }

a.list-group-item-danger.active,
button.list-group-item-danger.active,
a.list-group-item-danger.active:hover,
button.list-group-item-danger.active:hover,
a.list-group-item-danger.active:focus,
button.list-group-item-danger.active:focus {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.panel {
  background-color: #000;
  border: 1px solid transparent;
  box-shadow: none; }

.panel-heading {
  border-bottom: 1px solid transparent; }

.panel-heading > .dropdown .dropdown-toggle {
  color: inherit; }

.panel-title {
  color: inherit; }

.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: inherit; }

.panel-footer {
  background-color: #000;
  border-top: 1px solid #fff; }

.panel > .list-group:first-child .list-group-item:first-child,
.panel > .panel-collapse > .list-group:first-child .list-group-item:first-child {
  border-top: 0; }

.panel > .list-group:last-child .list-group-item:last-child,
.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0; }

.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive,
.panel > .table + .panel-body,
.panel > .table-responsive + .panel-body {
  border-top: 1px solid #fff; }

.panel > .table > tbody:first-child > tr:first-child th,
.panel > .table > tbody:first-child > tr:first-child td {
  border-top: 0; }

.panel > .table-bordered,
.panel > .table-responsive > .table-bordered {
  border: 0; }

.panel > .table-bordered > thead > tr > th:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel > .table-bordered > tbody > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-bordered > thead > tr > td:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel > .table-bordered > tbody > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel > .table-bordered > tfoot > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0; }

.panel > .table-bordered > thead > tr > th:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel > .table-bordered > tbody > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-bordered > thead > tr > td:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel > .table-bordered > tbody > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel > .table-bordered > tfoot > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0; }

.panel > .table-bordered > thead > tr:first-child > td,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
.panel > .table-bordered > tbody > tr:first-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.panel > .table-bordered > thead > tr:first-child > th,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > th,
.panel > .table-bordered > tbody > tr:first-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
  border-bottom: 0; }

.panel > .table-bordered > tbody > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.panel > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-bordered > tbody > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.panel > .table-bordered > tfoot > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
  border-bottom: 0; }

.panel > .table-responsive {
  border: 0; }

.panel-group .panel-heading {
  border-bottom: 0; }

.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: 1px solid #fff; }

.panel-group .panel-footer {
  border-top: 0; }

.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #fff; }

.panel-default {
  border-color: #fff; }

.panel-default > .panel-heading {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #fff; }

.panel-default > .panel-heading .badge {
  color: #fff;
  background-color: #000; }

.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #fff; }

.panel-primary {
  border-color: #fff; }

.panel-primary > .panel-heading {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #fff; }

.panel-primary > .panel-heading .badge {
  color: #fff;
  background-color: #000; }

.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #fff; }

.panel-success {
  border-color: #fff; }

.panel-success > .panel-heading {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.panel-success > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #fff; }

.panel-success > .panel-heading .badge {
  color: #fff;
  background-color: #000; }

.panel-success > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #fff; }

.panel-info {
  border-color: #fff; }

.panel-info > .panel-heading {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #fff; }

.panel-info > .panel-heading .badge {
  color: #fff;
  background-color: #000; }

.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #fff; }

.panel-warning {
  border-color: #fff; }

.panel-warning > .panel-heading {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.panel-warning > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #fff; }

.panel-warning > .panel-heading .badge {
  color: #fff;
  background-color: #000; }

.panel-warning > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #fff; }

.panel-danger {
  border-color: #fff; }

.panel-danger > .panel-heading {
  color: #fff;
  background-color: #000;
  border-color: #fff; }

.panel-danger > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #fff; }

.panel-danger > .panel-heading .badge {
  color: #fff;
  background-color: #000; }

.panel-danger > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #fff; }

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  border: 0; }

.well {
  background-color: #000;
  border: 1px solid #fff;
  box-shadow: none; }

.well blockquote {
  border-color: #fff;
  border-color: #fff; }

.close {
  color: #fff;
  text-shadow: none;
  filter: alpha(opacity=20); }

.close:hover,
.close:focus {
  color: #fff;
  filter: alpha(opacity=50); }

button.close {
  background: transparent;
  border: 0; }

.modal-content {
  background-color: #000;
  border: 1px solid #fff;
  border: 1px solid #fff;
  box-shadow: none; }

.modal-backdrop {
  background-color: #000; }

.modal-backdrop.fade {
  filter: alpha(opacity=0); }

.modal-backdrop.in {
  filter: alpha(opacity=50); }

.modal-header {
  border-bottom: 1px solid #fff; }

.modal-footer {
  border-top: 1px solid #fff; }

@media (min-width: 768px) {
  .modal-content {
    box-shadow: none; } }

@media (min-width: 992px) { }

.tooltip {
  text-shadow: none;
  filter: alpha(opacity=0); }

.tooltip.in {
  filter: alpha(opacity=90); }

.tooltip.top .tooltip-arrow {
  border-top-color: #fff; }

.tooltip.top-left .tooltip-arrow {
  border-top-color: #fff; }

.tooltip.top-right .tooltip-arrow {
  border-top-color: #fff; }

.tooltip.right .tooltip-arrow {
  border-right-color: #fff; }

.tooltip.left .tooltip-arrow {
  border-left-color: #fff; }

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #fff; }

.tooltip.bottom-left .tooltip-arrow {
  border-bottom-color: #fff; }

.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #fff; }

.tooltip-inner {
  color: #fff;
  background-color: #000; }

.tooltip-arrow {
  border-color: transparent; }

.popover {
  text-shadow: none;
  background-color: #000;
  border: 1px solid #fff;
  border: 1px solid #fff;
  box-shadow: none; }

.popover > .arrow,
.popover > .arrow:after {
  border-color: transparent; }

.popover.top > .arrow {
  border-top-color: #fff;
  border-top-color: #fff; }

.popover.top > .arrow:after {
  border-top-color: #fff; }

.popover.right > .arrow {
  border-right-color: #fff;
  border-right-color: #fff; }

.popover.right > .arrow:after {
  border-right-color: #fff; }

.popover.bottom > .arrow {
  border-bottom-color: #fff;
  border-bottom-color: #fff; }

.popover.bottom > .arrow:after {
  border-bottom-color: #fff; }

.popover.left > .arrow {
  border-left-color: #fff;
  border-left-color: #fff; }

.popover.left > .arrow:after {
  border-left-color: #fff; }

.popover-title {
  background-color: #000;
  border-bottom: 1px solid #fff; }

@media all and (transform-3d), (-webkit-transform-3d) { }

.carousel-control {
  color: #fff;
  text-shadow: none;
  background-color: #000;
  filter: alpha(opacity=50); }

.carousel-control.left {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1); }

.carousel-control.right {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1); }

.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  filter: alpha(opacity=90); }

.carousel-indicators li {
  background-color: #000 \9;
  background-color: #000;
  border: 1px solid #fff; }

.carousel-indicators .active {
  background-color: #000; }

.carousel-caption {
  color: #fff;
  text-shadow: none; }

.carousel-caption .btn {
  text-shadow: none; }

@media screen and (min-width: 768px) { }

.text-hide {
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

@-ms-viewport { }

@media (max-width: 767px) { }

@media (max-width: 767px) { }

@media (max-width: 767px) { }

@media (max-width: 767px) { }

@media (min-width: 768px) and (max-width: 991px) { }

@media (min-width: 768px) and (max-width: 991px) { }

@media (min-width: 768px) and (max-width: 991px) { }

@media (min-width: 768px) and (max-width: 991px) { }

@media (min-width: 992px) and (max-width: 1199px) { }

@media (min-width: 992px) and (max-width: 1199px) { }

@media (min-width: 992px) and (max-width: 1199px) { }

@media (min-width: 992px) and (max-width: 1199px) { }

@media (min-width: 1200px) { }

@media (min-width: 1200px) { }

@media (min-width: 1200px) { }

@media (min-width: 1200px) { }

@media (max-width: 767px) { }

@media (min-width: 768px) and (max-width: 991px) { }

@media (min-width: 992px) and (max-width: 1199px) { }

@media (min-width: 1200px) { }

@media print { }

@media print { }

@media print { }

@media print { }

@media print { }

body {
  background-color:#000; }

.navbar-default .navbar-nav > li > a {
  color: #fff; }
  .navbar-default .navbar-nav > li > a:hover {
    background-color: #000; }

.navbar-default .navbar-nav > li.active > a {
  background-color: transparent;
  color: #fff; }

@media (min-width: 768px) {
  .nav.fl-nav.nav-tabs li a, .nav.fl-nav.nav-tabs li a:focus {
    border: 0px;
    border-bottom: 3px solid #fff; }
  .nav.fl-nav.nav-tabs li.active a {
    border-bottom: 3px solid #fff; } }

#footer {
  background-color: #000; }
  #footer .blue {
    color: #fff; }
  #footer .white-bg {
    background: white; }
  #footer .has-error .g-recaptcha > div {
    border: 1px solid #fff;
    background-color: #000; }
  #first-section .btn-danger {
    background-color: #000;
    border-color: #fff; }
  #first-section > div:first-child {
    color: white; }
  .white-blocks .panel-heading {
    background-color: white;
    border-color: white; }
  .white-blocks .panel-title {
    color: #fff; }
    .white-blocks .panel-body p {
      color: #fff; }

#token-info {
  border-bottom: 1px solid #fff; }
  #token-info .dark-blue {
    background-color: #000; }
    #token-info .dark-blue h3 {
      color: #fff; }
    #token-info .dark-blue > div {
      color: white;
      border-right: 1px solid #fff; }
    #token-info .dark-blue > div + div {
      border-right: 0px;
      border-left: 1px solid #fff; }
    #token-info .dark-blue p {
      color: #fff; }
  #token-info .white {
    color: #fff; }
    #token-info .white .progress-bar-info {
      background-color: #000; }
    #token-info .white .tokens span {
      color: #fff; }

#whitepaper {
  background-color: #000;
  border-top: 1px solid #fff; }

#how-it-works {
  background-color: #000;
  color: white; }
  #how-it-works span:before, #how-it-works #how-it-works span:after {
    background-color: white; }
  #team > span:before, #team > span:after {
    background-color: #000; }
    #team .team h5 {
      color: #fff; }
    #team .team div > div {
      background-color: #000; }
    #team .team > div a {
      border-top: 1px solid black; }
  @media (min-width: 768px) { }
  @media (min-width: 992px) { }

.blue-outline-button {
  border: 2px solid #fff;
  color: #fff; }

.blue-outline-button:hover {
  color: #fff; }
  .phases .complete {
    background-color: #000; }
  .phases .actual {
    background-color: #000; }

.popper {
  background: #000;
  border: 1px solid #fff;
  color: #fff;
  box-shadow: none; }
  .white-paper h3 {
    color: #fff; }
  .white-paper .box {
    box-shadow: none;
    border: solid 1px #fff;
    background-color: #000; }
    .white-paper .box h4 {
      color: #fff; }
    .white-paper .box p {
      color: #fff; }

.StripeElement {
  color: #fff;
  border: 1px solid #fff; }

.StripeElement--focus {
  border-color: #fff;
  box-shadow: none; }

.StripeElement--invalid {
  border-color: #fff; }

.carriers .carrier-block {
  box-shadow: none;
  border: solid 1px #fff;
  color: #fff; }
  .carriers .carrier-block:hover {
    box-shadow: none; }

.carriers h3 {
  color: #fff; }

.avatar > div {
  border: solid 1px #fff; }

@media (max-width: 767px) { }

.carrier-block .progress {
  background-color: #000;
  box-shadow: none; }

#listContainer .carrier-block .end {
  color: #fff; }
  #listContainer .carrier-block .end a {
    background-color: #000;
    color: #fff; }

#listContainer .carrier-block .index {
  color: #fff; }

.modal-mask {
  background-color: #000; }

.modal-container {
  background-color: #000;
  box-shadow: none; }

.modal-header h3 {
  color: #fff; }

.form-border {
  box-shadow: none;
  background-color: #000; }

.form-border .has-error input, .form-border input, .form-border input:focus, .form-border .has-error input:focus {
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  box-shadow: none; }

.form-border .has-error .btn {
  color: #fff; }

.form-border .input-group .btn, .form-border .input-group .open .btn, .form-border .input-group .open .btn:focus {
  background: none;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  box-shadow: none; }

#verticalDivider {
  background-color: #000; }

.form-border #card-element {
  background: none;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  box-shadow: none; }

.ico .flt-amount {
  color: #fff; }

.ico h2 {
  color: #fff; }

.ico h3 {
  color: #fff; }

.ico label {
  color: #fff; }

@media (max-width: 922px) {
  .form-border {
    box-shadow: none; } }

@media (max-width: 992px) { }

@-moz-keyframes spin { }

@-webkit-keyframes spin { }

@-o-keyframes spin { }

@keyframes spin { }

.questions .panel {
  box-shadow: none;
  border-bottom: 1px solid #fff; }

.ico-desc h2 {
  color: #fff; }

.ico-desc h3.subhead {
  color: #fff; }

.ico-desc h3.subhead:before {
  background-color: #000; }

.ico-desc p {
  color: #fff; }

.btn-primary {
  background: none;
  color: #fff;
  border: 3px solid #fff; }

.btn-primary:focus, .btn-primary:active, .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:hover {
  background-color: #000;
  border: 3px solid #fff;
  text-shadow: none;
  box-shadow: none; }

.btn-white.btn-outline, .btn-white.btn-outline:focus, .btn-white.btn-outline:active:hover, .btn-white.btn-outline:hover {
  background: none;
  color: #fff;
  border: 3px solid #fff;
  text-shadow: none;
  box-shadow: none; }

.btn-white.btn-outline:active:hover {
  color: #fff;
  border: 3px solid #fff; }

.btn-yes {
  background-color: #000; }

.btn-no {
  background-color: #000; }

.btn-resigned {
  background-color: #000; }

@media (min-width: 767px) { }

.metamask {
  box-shadow: none;
  border: solid 1px #fff;
  color: #fff; }

.carriers-modal .results {
  border-bottom: 1px solid #fff; }

.carriers-modal .results:last-child {
  border-bottom: 0px; }

.carriers-modal .results > span:last-child span {
  color: #fff; }

.carriers-modal .results span.yes {
  background-color: #000; }

.carriers-modal .results span.no {
  background-color: #000; }

.carriers-modal .results span.resigned {
  background-color: #000; }

/*# sourceMappingURL=index.css.map */

#footer .white-bg{
  background-color: black;
}